body{
    background-color: #222222;
  }
h2{
    background-color: black;
    border: 2px deeppink solid;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 8px;
}
#result{
  padding: 10px;
  margin: 5px;
  text-align: left;
  color: white;
} 