body{
    background-color: #222222;
    color: white;
  }
h2{
    background-color: black;
    border: 2px deeppink solid;
    font-weight: bold;
    text-align: center;
    padding: 8px;
}